.idea/
*.iml
ecodex-lab-box/lab*


target/
/ecodex-lab-box-builder*
/*.project
*/*.project
/*.settings*
*/*.settings*
/ecodex-lab-box-ui/node_modules/*
/ecodex-lab-box/mavenrepo/*
/ecodex-lab-box-ui/*.js
/ecodex-lab-box-ui/*.json
