.idea/
*.iml
ecodex-lab-box-builder/lab*


target/
/*.project
*/*.project
/*.classpath
*/*.classpath
/*.settings*
*/*.settings*
/ecodex-lab-box-ui/node_modules/*
/ecodex-lab-box-ui/*.js
/ecodex-lab-box-ui/*.json
/ecodex-lab-box-ui/src/main/resources/META-INF/resources/html
